# Archivos generados por Flutter y Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock


# Archivos sensibles (¡MUY IMPORTANTE!)
.env*

# Archivos específicos de Android
/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/
key.properties
**/*.keystore
**/*.jks

# Dependencias de Cloud Functions
functions/node_modules/

# Archivos de configuración de IDEs
.idea/
.vscode/
*.iml

# Logs
*.log

# Archivos de configuración de Firebase
/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist

# Otras claves y secretos
secrets.json